
body{
    background-color:  #DAF0FF;
    display: grid;
    justify-content: center;
    align-items: center;
    
}

*{
    font-family:Arial, Helvetica, sans-serif;
}

button{
    border-radius: 12px;
    width: 50px;
    /* height: 50px; */
    /* margin: 3px; */
    /* margin-top: 15%; */
    font-size: large;
    font-weight: 300;
    padding: 6px 4px 0px;
}

.calculator-main-app{
    top: 35%;
    right: 10%;
    left: 10%;
    position: absolute;
    transform: translate(-5%, -50%);
    margin-top: 10%;
    margin-left: 30%;
    width: 253px;
    text-align: center;
    border: 1px solid black;
    background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
    border-radius: 39px;
    height: 70%;
    
    
}

input{
    height: 150px;
    width: 244px;
    background: black;
    margin: 0 auto;
    color: white;
    border: 0px;
    font-size: 40px;
    font-weight: 700;
    text-align: right;
    border-radius: 30px;
}

.keypad{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 10px;
    margin: 5px;
}

.trigo{
    width:80%;
    height: 50%;
    margin-top: 20px;
    background-color: rgb(41, 40, 40);
    /* flex: none; */
    order: 0;
    /* flex-grow: 0; */
    border: 1px solid rgb(41, 40, 40) ;
    color: #29A8FF;
    text-align: center;
    font-size: 15px;
    display: flex;
    justify-content: center;
    font-weight: 400;
}

.arithmetic{
    background-color:#005DB2;
    color: #339DFF;
    font-size:xx-large;
    border: 1px solid #005DB2;
    font-weight: 400;
}


.backspace{
    background-color:  #616161;
    color: #A5A5A5;
    border: 1px solid #616161;
}

.allclear{
    background-color: #616161;
    border: 1px solid #616161 ;
    color: #A5A5A5;
    font-weight: 400;
}

.digit{
    background-color: #303136;
    color: #29A8FF;
    border: 1px solid #303136;
    font-weight: 500;
    font-size: x-large;
}

/* #zero{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* padding: 6px 4px; */
/* gap: 10px;

position: absolute;
width: 144px;
height: 60px;
left: 34px;
top: 420px;

background: #303136;
border-radius: 16px; */

.equal{
    background: #1991FF;
    color: #B2DAFF;
    border: 1px solid #1991FF;
    font-weight: 400;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    grid-row-end: span 2;
}

/* #zero{
    display: row;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
} */

/* .container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px;
    border-radius: 12px;
    justify-content: start;
    align-items: flex-start;
    width: 90px;
    height: 50px;
    gap: 2px;
} */

.container1{
    display: grid;
    /* grid-template-columns: 120px; */
    grid-gap: 5px;
    grid-column: 1/3;
    border-radius: 12px;
    align-items: center;
    margin-top: 0;
    /* width: 115px; */
}

/* .container2{
    display: grid;
    grid-template-rows: 2/4;
    border-radius: 12px;
    width: 50px;
    height: 50px;
} */

/* .equalto{ */
    /* grid-row-end: -1; */
    /* height: 120px; */
    /* grid-row: 5 / span 2; */
    /* grid-column-end: -1; */
/* } */

.zero{
    grid-column-end: span 2;
    width: 100%;
    display: block;
    background-color: #303136;
    color: #29A8FF;
    border: 1px solid #303136;
    font-weight: 500;
    font-size: x-large;
}

